In [21]:
# Example of reading a twitter data json file and outputing select fields to a csv file

import pandas as pd
import nltk
from nltk import twitter
from nltk.twitter import json2csv

# Select a file to preprocess 
#input_file = 'WomensNIT_12.out' # this file throws an error 
input_file = 'ChampionshipWeek1.out'
outfile = 'nltkTwitterTest.csv'
fields = ['id','id_str','created_at','entities','favorite_count','in_reply_to_status_id',
          'in_reply_to_user_id','retweet_count','retweeted','text',
          'entities.user_mentions','entities.hashtags', 
          'place',
          'user.id', 'user.followers_count', 'user.friends_count']

with open(input_file) as fp:
    json2csv(fp, outfile, fields, encoding='utf8', errors='replace', gzip_compress=False)

# print raw tweets
#for line in open(input_file).readlines()[:5]:
#    print(line)

# print tweets from csv
for line in open('nltkTwitterTest.csv').readlines()[:5]:
    print(line)

# print read csv file into dataframes using pandas
tweets = pd.read_csv(outfile, index_col=0, header=0, encoding="utf8")
tweets.head(5)

id,id_str,created_at,entities,favorite_count,in_reply_to_status_id,in_reply_to_user_id,retweet_count,retweeted,text,entities.user_mentions,entities.hashtags,place,user.id,user.followers_count,user.friends_count

574044796479795201,574044796479795201,Sat Mar 07 03:11:59 +0000 2015,"{u'symbols': [], u'user_mentions': [], u'hashtags': [], u'urls': []}",0,,,0,False,I HOPE YOU ALL ARE WATCHING THE UNC WOMENS BASKETBALL GAME RN,[],[],,387893890,506,440

574044579651043329,574044579651043329,Sat Mar 07 03:11:07 +0000 2015,"{u'symbols': [], u'user_mentions': [], u'hashtags': [], u'urls': []}",0,,,0,False,Lancers mens basketball team beats Ottawa 85-80 to advance to OUA gold medal game.  Womens team advances with 57-31 win over Lakehead.,[],[],,96816398,10991,298

574044537703788544,574044537703788544,Sat Mar 07 03:10:57 +0000 2015,"{u'symbols': [], u'user_mentions': [{u'indices': [3, 13], u'screen_name': u'silvas_21', u'id': 126988490, u'name': u'Bailey Silvas', u'id_str': u'126988490'}], u'hashtags': [], u'urls': []}",0,,,1,False,RT @silvas_21: Why is womens basketball televised?,"[{u'indices': [3, 13], u'screen_name': u'silvas_21', u'id': 126988490, u'name': u'Bailey Silvas', u'id_str': u'126988490'}]",[],,1021140366,381,434

574043720783425536,574043720783425536,Sat Mar 07 03:07:42 +0000 2015,"{u'symbols': [], u'user_mentions': [{u'indices': [3, 10], u'screen_name': u'NAPES_', u'id': 389524296, u'name': u'Daniel Napier', u'id_str': u'389524296'}], u'hashtags': [], u'urls': []}",0,,,2,False,RT @NAPES_: Proud of how both the Mens &amp; Womens Basketball teams are playing Showing up when it matters and how great the parity in the conâ€¦,"[{u'indices': [3, 10], u'screen_name': u'NAPES_', u'id': 389524296, u'name': u'Daniel Napier', u'id_str': u'389524296'}]",[],,2787211059,377,1236

,id_str,created_at,entities,favorite_count,in_reply_to_status_id,in_reply_to_user_id,retweet_count,retweeted,text,entities.user_mentions,entities.hashtags,place,user.id,user.followers_count,user.friends_count
id,,,,,,,,,,,,,,,
574044796479795201,574044796479795201,Sat Mar 07 03:11:59 +0000 2015,"{u'symbols': [], u'user_mentions': [], u'hasht...",0,NaN,NaN,0,False,I HOPE YOU ALL ARE WATCHING THE UNC WOMENS BAS...,[],[],NaN,387893890,506,440
574044579651043329,574044579651043329,Sat Mar 07 03:11:07 +0000 2015,"{u'symbols': [], u'user_mentions': [], u'hasht...",0,NaN,NaN,0,False,Lancers mens basketball team beats Ottawa 85-8...,[],[],NaN,96816398,10991,298
574044537703788544,574044537703788544,Sat Mar 07 03:10:57 +0000 2015,"{u'symbols': [], u'user_mentions': [{u'indices...",0,NaN,NaN,1,False,RT @silvas_21: Why is womens basketball televi...,"[{u'indices': [3, 13], u'screen_name': u'silva...",[],NaN,1021140366,381,434
574043720783425536,574043720783425536,Sat Mar 07 03:07:42 +0000 2015,"{u'symbols': [], u'user_mentions': [{u'indices...",0,NaN,NaN,2,False,RT @NAPES_: Proud of how both the Mens &amp; W...,"[{u'indices': [3, 10], u'screen_name': u'NAPES...",[],NaN,2787211059,377,1236
574043549013954560,574043549013954560,Sat Mar 07 03:07:01 +0000 2015,"{u'symbols': [], u'user_mentions': [{u'indices...",0,NaN,NaN,1,False,RT @DarrinAnthonyy: Mount Miguel Womens basket...,"[{u'indices': [3, 18], u'screen_name': u'Darri...","[{u'indices': [102, 115], u'text': u'MatadorPr...",NaN,407164556,553,198

In [22]:
# view all rows for one user
tweets.loc[tweets['user.id'] == 1021140366]['text']

id
574044537703788544    RT @silvas_21: Why is womens basketball televi...
574044537703788544    RT @silvas_21: Why is womens basketball televi...
Name: text, dtype: object